{{#withSeparateModelsAndApi}}
/* eslint-disable @typescript-eslint/no-explicit-any */
{{>licenseInfo}}
import { {{{appName}}}Client, ClientRequestConfig } from '../base.js';
{{#imports}}
import { {{classname}} } from '{{apiRelativeToRoot}}{{tsModelPackage}}/index.js';
{{/imports}}
{{/withSeparateModelsAndApi}}
{{^withSeparateModelsAndApi}}{{/withSeparateModelsAndApi}}
{{#operations}}
{{#operation}}

/**
 * {{&notes}} Request model for {{operationId}}.
 {{#summary}}
 * @summary {{&summary}}
 {{/summary}}
 */
export interface {{operationId}}Request {
  {{#allParams}}
  /** {{{description}}} */
  {{baseName}}{{^required}}?{{/required}}: {{{dataType}}};
  {{/allParams}}{{^allParams}}  // Nothing parameters{{/allParams}}
}

/**
  * {{&notes}}
  {{#summary}}
  * @summary {{&summary}}
  {{/summary}}
  * @param {*} [options] Override http request option.
  * @throws {RequiredError}
  */
export async function {{nickname}}(parameters: {{operationId}}Request, options?: ClientRequestConfig) {
  return {{{appName}}}Client.{{httpMethod}}<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>(`{{{path}}}`, parameters, options)
}

{{/operation}}
{{/operations}}
